﻿@model MyGadgetBuddy.Areas.Quote.Models.ViewModels.QuoteViewModel

@{
    ViewBag.Title = "Get a Gadget Insurance Quote";
    Layout = "~/Areas/Quote/Views/Shared/_Layout.cshtml";
}
@using System.Web.Optimization
@section MetaContent {

    <meta http-equiv="CACHE-CONTROL" content="NO-CACHE">
    <meta http-equiv="PRAGMA" content="NO-CACHE">
    <meta http-equiv="Expires" content="-1">
}
@section ScriptContent {

    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/quoteform")
    @Scripts.Render("~/bundles/quote-select")

    <script type="text/javascript">
        var values = {
            formValues: JSON.parse('@(Html.Raw(Json.Encode(ViewData["TempSelectedGadgets"])))'),
            sessionGadgetValues: JSON.parse('@(Html.Raw(Json.Encode(ViewData["SelectedGadgets"])))'),
            viewModelCreated: false
        }

        $(document).ready(function () {
            if (values.sessionGadgetValues != null) {
                if (values.sessionGadgetValues[0].QuoteAble == true) {
                    viewModelShowHide();
                    ko.applyBindings(viewModel);
                    values.viewModelCreated = true;
                    prepareGadgetForm();
                    activateGadgetForm();
                }
            }
            if (values.formValues != null) {
                if (values.formValues.length) {
                    //A function that populates the gadget from from the partially complete selectedgadget info available
                    prepareGadgetForm(values.formValues);
                    activateGadgetForm();
                }
            } else {
                prepareGadgetForm();
                activateGadgetForm();
            }
        });

        function ViewModel() {
            self = this;
            self.SelectedGadgets = ko.observableArray(@(Html.Raw(Json.Encode(ViewData["SelectedGadgets"]))));

            self.PublicProductData = ko.observable(@(Html.Raw(Json.Encode(ViewData["PublicProductData"]))));
            self.SelectedPublicGadgetsx = ko.observableArray([]);
            self.PublicProductsRaw = ko.observableArray([]);
            self.PublicProductsx = ko.observableArray([]);
            self.MultibuyMessage = ko.observable();
            self.MultibuyPromise = ko.observable(@(Html.Raw(Json.Encode(ViewData["MultiBuyDiscountValue"]))));
            self.MultiBuyDiscountValue = ko.observable();

            self.SupplyGadgetsAndproducts = ko.computed(function () {
                var PublicProductData = self.PublicProductData();
                if (PublicProductData != null) {
                    for (var item in PublicProductData) {
                        for (var data in PublicProductData[item]) {
                            if (PublicProductData[item][data].GadgetIdentifier == true) {

                                //console.log("//////////Showing gadget item");
                                //console.log(PublicProductData[item]);
                                //console.log("Finish Showing item//////////");

                                self.SelectedPublicGadgetsx(PublicProductData[item]);

                                break;
                            }
                            else if (PublicProductData[item][data].ProductIdentifier == true) {

                                //console.log("//////////Showing product Item ");
                                //console.log(PublicProductData[item]);
                                //console.log("Finish Showing item//////////");
                                self.MultiBuyDiscountValue(PublicProductData[item][data].MultiGadgetDiscountPercent);
                                self.PublicProductsRaw(PublicProductData[item]);
                                break;
                            }
                        }
                    }
                }
            }, self);

            self.MultiGadgets = ko.observable(false);
            //self.removeGadget = function (gadget) {
            //    self.SelectedGadgets.remove(gadget);
            //    var selectedgadgets = self.SelectedGadgets();
            //    updateGadgetModelHandler(selectedgadgets);
            //};
            self.removePublicGadget = function (gadget) {
                self.SelectedPublicGadgetsx.remove(gadget);
                var selectedgadgets = self.SelectedPublicGadgetsx();
                updatePublicGadgetModelHandler(selectedgadgets);
            };

            self.SelectedProduct = ko.observable("2");
            self.SelectedAnnualPrice = ko.observable();
            self.SelectedMonthlyPrice = ko.observable();
            self.SelectedAnnualPriceWithDiscounts = ko.observable();
            self.SelectedMonthlyPriceWithDiscounts = ko.observable();


            self.SelectedProductUpdater = ko.computed(function () {
                var productArray = self.PublicProductsx();
                var CurrentProduct = self.SelectedProduct();
                for (var product in productArray) {
                    var p = productArray[product];
                    var CurrentId = p.Id();
                    var CurrentAnnualPrice = p.AnnualPrice();
                    var CurrentMonthlyPrice = p.MonthlyPrice();
                    var CurrentAnnualPriceWithDiscounts = p.AnnualPriceWithDiscounts();
                    var CurrentMonthlyPriceWithDiscounts = p.MonthlyPriceWithDiscounts();
                    if (CurrentId == CurrentProduct) {
                        self.SelectedAnnualPrice(CurrentAnnualPrice);
                        self.SelectedMonthlyPrice(CurrentMonthlyPrice);
                        self.SelectedAnnualPriceWithDiscounts(CurrentAnnualPriceWithDiscounts);
                        self.SelectedMonthlyPriceWithDiscounts(CurrentMonthlyPriceWithDiscounts);
                    }
                }
            }, self);

            self.WriteMultibuyMessage = ko.computed(function () {
                var gadgets = self.SelectedPublicGadgetsx();
                if (gadgets != null) {
                    if (gadgets.length > 1) {
                        self.MultiGadgets(true);
                    } else {
                        self.MultiGadgets(false);
                    }
                    if (gadgets[0] != undefined) {
                        var multibuyPromise = self.MultibuyPromise();
                        var multibuyDiscountValue = self.MultiBuyDiscountValue();
                        if (multibuyPromise != 0) {
                            if (gadgets.length == 1) {
                                self.MultibuyMessage("Add a gadget for a " + multibuyPromise + "% Discount on your policy!");
                            } else if (gadgets.length > 1 && gadgets.length < 4) {
                                self.MultibuyMessage(multibuyDiscountValue + "% off, add another gadget for an additional " + multibuyPromise + "% Discount on your policy!");
                            } else if (gadgets.length >= 4) {
                                self.MultibuyMessage("Awesome, you have a " + multibuyDiscountValue + "% discount on your policy.");
                            }
                        }
                    } else {
                        self.MultibuyMessage("Please add a gadget");
                    }
                }
            }, self);

            self.ProductCreator = ko.computed(function () {
                var rawProducts = self.PublicProductsRaw();
                var productArray = [];
                for (var product in rawProducts) {
                    var p = rawProducts[product];
                    var tempBenefitsArray = [];

                    for (var benefit in p.Benefits) {
                        var thisBenefit = p.Benefits[benefit];
                        if (thisBenefit) {
                            tempBenefitsArray.push({ Name: thisBenefit.GetName, Description: thisBenefit.GetDescription });
                        }
                    }
                    var productModel = new productViewModel(
                        Name = p.Name,
                        Id = p.Id,
                        MonthlyPrice = p.MonthlyPrice,
                        AnnualPrice = p.AnnualPrice,
                        MonthlyPriceWithDiscounts = p.MonthlyPriceWithDiscounts,
                        AnnualPriceWithDiscounts = p.AnnualPriceWithDiscounts,
                        Benefits = tempBenefitsArray
                        );
                    productArray.push(productModel);
                }
                self.PublicProductsx(productArray);
            }, self);
        }

        function productViewModel(name, Id, monthlyprice, annualprice, monthlypricewithdiscounts, annualpricewithdiscounts, benefits) {
            selfa = this;
            selfa.Name = ko.observable(name);
            selfa.Id = ko.observable(Id);
            selfa.MonthlyPrice = ko.observable(monthlyprice);
            selfa.AnnualPrice = ko.observable(annualprice);
            selfa.MonthlyPriceWithDiscounts = ko.observable(monthlypricewithdiscounts);
            selfa.AnnualPriceWithDiscounts = ko.observable(annualpricewithdiscounts);
            selfa.Benefits = ko.observableArray(benefits);
        }

        //Custom binding!
        ko.bindingHandlers.fancyDivRadio = {
            init: function (element, valueAccessor) {
                // Get radio button located inside this div
                var radio = $(element).find('input[type="radio"]');
                var value = valueAccessor();
                var valueUnwrapped = ko.utils.unwrapObservable(value);
                //Set it to be checked if there is a viewmodel value.

                if (valueUnwrapped != null) {
                    $('input[type="radio"]').each(function () {
                        if ($(this).val() == valueUnwrapped) {
                            $(this).prop("checked", true);
                        }
                    })
                }

                // When div is clicked, check the radio and trigger radio change event
                $(element).click(function () {
                    radio.prop('checked', true);
                    radio.change();
                });

                // When radio button is checked, update the viewModel property!!
                $(radio).change(function () {
                    if (radio.prop('checked')) // only if it was changed to checked
                    {
                        // Set viewModel property to value of the radio button that was clicked
                        var value = valueAccessor();
                        value(radio.val());
                    }
                });
            },
            update: function (element, valueAccessor, allBindingsAccessor) {
                var value = valueAccessor();
                var valueUnwrapped = ko.utils.unwrapObservable(value);

                // Get radio button located inside this div
                var radio = $(element).find('input[type="radio"]');

                // Set radio to be checked or unchecked
                var shouldBeChecked = valueUnwrapped == radio.val();
                radio.prop('checked', shouldBeChecked);
            }
        };

        var viewModel = new ViewModel();

        function postProductTemplateLogic() {
            activateToolTips();
        }

    </script>


    @Html.Partial("HeadTracking")
}






<script id="SelectedPublicGadgetsTemplate" type="text/x-jQuery-tmpl">
    <tr class="table-row gadget-row">
        <td>
            <span data-bind="text: Type" class="hidden category"></span>
            <span data-bind="text: Make" class="type"></span>
            <span data-bind="text: Model" class="model"></span> <span data-bind="text: Memory" class="memory"></span>
        </td>
        @*<td data-bind="text: FormatCurrency(MonetaryValue,0)"></td>*@
        <td data-bind="text: FormatCurrency(ValueMax,0)"></td>
        <td class="pull-right">
            <input type="button" value="remove" data-bind="click: $parent.removePublicGadget" />
            @*<img class="remove-bin" src="/images/eysys/delete.png" alt="Remove gadget from basket" data-bind="attr: { title: RemoveModel }">*@
        </td>
    </tr>
</script>



<script id="ProductsTemplate" type="text/x-jQuery-tmpl">
    <div class="col-sm-4 gadget-product viewmodelShow" data-bind="fancyDivRadio:  $root.SelectedProduct">
        <div class="package panel">
            <div class="panel-body">
                <input value="basicCovered" type="radio" data-bind="value: $data.Id" name="selectProduct">

                <h3 data-bind="text: Name, css: Name"></h3>
                <div class="text-center">
                    <span class="label">Sign up monthly:</span>
                    <p data-bind="visible: MonthlyPriceWithDiscounts() < MonthlyPrice()">Was <span data-bind="text: FormatCurrency(MonthlyPrice(),2)"></span></p>
                    <span class="quote-price" data-bind="text: FormatCurrency(MonthlyPriceWithDiscounts(),2)"></span>
                </div>
                <hr>
                <div class="text-center">
                    <span class="label">Pay 12 months:</span>
                    <p data-bind="visible: AnnualPriceWithDiscounts() < AnnualPrice()">Was <span data-bind="text: FormatCurrency(AnnualPrice(),2)"></span></p>
                    <span class="quote-price" data-bind="text: FormatCurrency(AnnualPriceWithDiscounts(),2)"></span>
                </div>
                <hr>
                <ul class="list-check">
                    <li data-toggle="tooltip" title="You're covered for any unintentional and unforeseen breakages of your device.">Accidental damage</li>
                    <li data-toggle="tooltip" title="You're covered when traveling anywhere in the world up to a maximum of 90 days, in any 12 month period.">Overseas</li>
                    <li data-toggle="tooltip" title="You're covered for repair costs if your device breaks down outside of the manufacturer's guarantee or warranty period.">Breakdown</li>
                    <li data-toggle="tooltip" title="You're covered if charged for unauthorised calls, texts or data usage when your device has been stolen or is lost. We provide a refund after it was lost or stolen to the time it was blocked by your airtime provider. Up to the value of £100.">Fraudulent use</li>
                    <li data-toggle="tooltip" title="You're covered if your device is damaged as a result of accidentally coming into contact with any liquid. A repair will be made or if required a replacement provided.">Liquid damage</li>
                </ul>

                <ul class="list-check" data-bind="foreach: Benefits">
                    <li data-toggle="tooltip" data-bind="text: Name, attr: { title: Description }"></li>

                </ul>
            </div>
        </div>
    </div>
</script>






<div class="main-content main-outlet">
    <div class="row">
        <div class="col-md-9">
            <div class="panel nav-panel clearfix">
                <div class="panel-stage">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="stage-number active">1</div>
                            <div class="stage-title">Your Quote</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="stage-number">2</div>
                            <div class="stage-title">Your Info</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="stage-number">3</div>
                            <div class="stage-title">Secure Payment</div>
                        </div>
                        <div class="col-md-3 col-sm-3 col-xs-12">
                            <div class="stage-number">4</div>
                            <div class="stage-title">Success!</div>
                        </div>
                    </div>
                </div>
            </div>


            @using (Html.BeginForm())
            {

                @*<input type="hidden" data-bind="value: SelectedProduct" name="SelectedProduct" />*@

                @Html.HiddenFor(m => m.CoverLevel, new { @class = "betStatusCheckboxes", @data_bind = "value: SelectedProduct" })
                @Html.ValidationMessageFor(m => m.CoverLevel);
                <div class="panel panel-quote">
                    <div class="panel-body">
                        <div class="panel-quote-title">
                            <h2 class="header-title">Add Your Gadget <img src="/images/eysys/buddy_3.jpg" alt="buddy"></h2>
                            <p>Let us know what gadget you want to insure, and we'll get a price in seconds.</p>
                        </div>


                        <table class="basket-table viewmodelShow hidden">
                            <thead>
                                <tr>
                                    <th>Gadget</th>
                                    <th>Cover up to</th>
                                    <th class="pull-right"></th>
                                </tr>
                            </thead>
                            <tbody data-bind='template: { name: "SelectedPublicGadgetsTemplate", foreach: SelectedPublicGadgetsx}'></tbody>
                        </table>
                    </div>


                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label>Gadget Type</label>
                                    <div class="styled-select">
                                        <select name="gadgetCategory" id="gadget-category" class="form-control">
                                            <option value="" selected="selected">Select gadget</option>
                                        </select>

                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group hidden gadget-make-group">
                                    <label for="gadgetMake">Gadget Make</label>
                                    <div class="styled-select">
                                        <select name="gadgetMake" id="gadget-make" class="form-control">
                                            <option value="" selected="selected">Select make</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group hidden gadget-product-group">
                                    <label for="gadgetProduct">Gadget Product</label>
                                    <div class="styled-select">
                                        <select name="gadgetProduct" id="gadget-product" class="form-control">
                                            <option value="" selected="selected">Select product</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group hidden gadget-memory-group">
                                    <label for="gadgetMemory">Gadget Memory</label>
                                    <div class="styled-select">
                                        <select name="gadgetMemory" id="gadget-memory" class="form-control">
                                            <option value="" selected="selected">Select memory</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix">
                            <div class="pull-right">
                                <div class="btn-threed">
                                    @*<a href="/Quote/BeginQuote" class="btn btn-quote btn-lg btn-block">Get An Instant Quote</a>*@
                                    <button class="btn btn-secondary" id="AddGadget" data-text="Add gadget" disabled="disabled"><span>Add gadget</span></button>
                                </div>
                            </div>

                            <h5 data-bind="text: MultibuyMessage"></h5>
                        </div>


                        <div class="panel-quote-title viewmodelShow hidden">
                            <h2 class="header-title">Select Your Level Of Cover</h2>
                            <p>Choose the level of cover that best suits your needs. Hover over a component to learn more.</p>
                        </div>

                        <div class="row" data-bind='template: { name: "ProductsTemplate", foreach: PublicProductsx, afterRender: postProductTemplateLogic}'>

                        </div>
                        <hr class="viewmodelShow hidden" />
                        <button type="submit" class="btn btn-continue btn-lg pull-right viewmodelShow hidden">Next: Your Info</button>

                    </div>


                    <div class="panel-body">
                        <div class="clearfix">
                            <button id="FAQ-button" type="button" class="clearfix btn-block btn-naked">
                                <span class="pull-left h3 gb-purple-text">Frequently Asked Questions</span>
                                <span id="faq-arrow" class="pull-right eysys-arrow-right gb-purple-text"></span>
                            </button>
                            <ul id="FAQ-show" class="list list-question hidden">
                                <li>
                                    <h5>How soon am I covered?</h5>
                                    <p>After purchase a 14-day exclusion period will be activated meaning if your gadget is either stolen, lost, damaged or breaks down you are not able to claim.</p>
                                </li>
                                <li>
                                    <h5>When will I receive my policy documents?</h5>
                                    <p>Your policy documents will be sent to the email address you specify. If they are not received, and you are unable to locate them in your spam folder, please contact us.</p>
                                </li>
                                <li>
                                    <h5>Will I be able to cancel my policy?</h5>
                                    <p>If you decide that you want to cancel your policy please contact the administrator and return your insurance documents to Rock insurance, 135 Griffin House, Crawley High Street, Crawley, RH10 1DQ or email us at Admin@gadgetbuddy.com.<br><br>You may cancel a policy, without giving reason, within 14 days of you receiving your policy documents. You will receive a full refund of all premium paid provided that no claim has been made and you do not intend to make a claim.<br><br>You may also cancel your policy at any time after the initial 14 day cooling-off period. If you opted to pay monthly there will be no refund because you will have only paid for the cover you have received. If opted to pay annually, and provided no claim has been made, you will receive a proportionate refund of the annual premium less an administration fee, charged by the Administrator, equal to £10.</p>
                                </li>
                                <li>
                                    <h5>If I need to make a claim what should I do?</h5>
                                    <p>Note you won't be able to make a claim in the 14 days after receiving your policy documents.<br><br>For Theft, Accidental Loss (if covered) and Malicious Damage Claims be sure you have notified the appropriate local Police authority within 24 hours of discovering the incident and obtain a Crime reference/Lost Property number and a copy of the Police Crime report (where a report has been compiled). Should you be claiming for the theft or accidental loss of your telephone you must also contact your network provider within 24 hours of discovering the incident to place a call bar on the handset. <br><br>For all claims (including Theft, Accidental Loss, and Malicious Damage) you need to contact us on 020 7785 1702 (local call rate) immediately after of discovering the incident (or in the event of an incident occurring outside of the United Kingdom, the Channels Islands or the Isle of Man, immediately after of returning to the United Kingdom, the Channel Islands or the Isle of Man).</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            }


        </div>
        <div class="col-md-3">


            <div class="panel text-center viewmodelShow hidden">

                @using (Html.BeginForm())
                {

                    @Html.HiddenFor(m => m.CoverLevel, new { @class = "betStatusCheckboxes", @data_bind = "value: SelectedProduct" })
                    @Html.ValidationMessageFor(m => m.CoverLevel);
                    <div class="panel-body">
                        <h2>Payment Options</h2>
                        <span class="font-color-1">Sign up monthly:</span>
                        <p data-bind="visible: SelectedMonthlyPriceWithDiscounts() < SelectedMonthlyPrice()">Was <span data-bind="html:  FormatCurrency(SelectedMonthlyPrice(),2)"></span></p>
                        <span class="quote-price" data-bind="html:  FormatCurrency(SelectedMonthlyPriceWithDiscounts(),2)"></span>
                        <img src="~/images/eysys/direct-debit.jpg" alt="Direct Debit Logo">
                        <hr />
                        <span class="font-color-1">Pay 12 months:</span>
                        <p data-bind="visible: SelectedMonthlyPriceWithDiscounts() < SelectedMonthlyPrice()">Was <span data-bind="html:  FormatCurrency(SelectedAnnualPrice(),2)"></span></p>
                        <span class="quote-price">
                            <small data-bind="html: FormatCurrency(SelectedAnnualPriceWithDiscounts(),2)"></small>
                        </span>
                        <small>(includes 1 month free!)</small>
                        <img src="~/images/eysys/shop-safely.jpg" alt="Shop Safely">
                    </div>
                    <div class="panel-footer">
                        <button class="btn btn-continue btn-lg btn-block" type="submit" data-text="Buy now!">
                            <span>Next: Your Info</span>
                        </button>
                    </div>
                }
            </div>



            <div id="important-panel" class="panel info-panel">
                <div class="panel-body">
                    <h3 class="panel-title">Important</h3>
                    <ul class="list list-bullet">
                        <li>
                            View the Policy Wording for monthly direct debit policies: <a class="new-window" href="/docs/gb_monthly_policy_wording.pdf" target="_blank">Policy Wording</a>
                        </li>
                        <li>
                            View the Policy Wording for annual policies: <a class="new-window" href="/docs/gb_annual_policy_wording.pdf" target="_blank">Policy Wording</a>
                        </li>
                        @*<li>
                                Excesses can be found&nbsp;<a class="excesses" id="quote-Excesses" href="/whats-covered/#excess" target="_blank" name="quote-Excesses">here</a>
                            </li>*@
                    </ul>
                </div>
            </div>

            <div class="panel info-panel feefo-reviews"><div class="panel-body"><h3 class="panel-title">What people are saying...</h3> <ul class="list list-comment"><li>"Excellent customer service from the guy that gave me my insurance , thank you very much."</li><li>"Excellent friendly and polite service"</li></ul></div></div>





        </div>
    </div>
</div>



